.edit-on-github-container {
    background: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.edit-on-github-container > p {
    font-size: 12px !important;
    position: fixed;
    background-color: #2050ce;
    border-radius: 8px 18px 8px 18px;
    padding: 5px;
}

.edit-on-github-container > p > a {
    padding: 10px;
    text-decoration: none !important;
    color: white;
}